@import '../../sass/variables';

.main {
  background-color: $color-white;

  height: 70rem;
  width: 40rem;

  padding: 1rem;

  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
