@import '../../../sass/variables';

.chatbox-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}

.chatbox {
  background-color: $color-white;

  height: 60rem;
  width: 40rem;

  margin-right: 5rem;

  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.chatbox-header {
  border-bottom: 1px solid $color-grey;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  nav {
    padding: 1rem;

    justify-content: space-between;
  }

  figure {
    gap: 1rem;
  }

  strong {
    font-size: 2.4rem;
  }

  small {
    font-size: 1.8rem;
  }

  ul {
    gap: 0.5rem;
  }

  li {
    cursor: pointer;
    fill: $color-primary;
    stroke: $color-primary;
  }
}

.chatbox-section {
  margin-top: 0.5rem;
  height: 46rem;

  overflow: hidden;
  overflow-y: scroll;
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 0.5rem;

    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
  }

  .left-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;

    span {
      background-color: $color-primary;
      border-radius: 1rem;
      padding: 1rem;
      max-width: 20rem;
      color: $color-white;
    }
  }

  .right-message {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;

    span {
      background-color: $color-grey;
      padding: 1rem;
      border-radius: 1rem;
      max-width: 20rem;
    }
  }
}

.chatbox-footer {
  ul {
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    fill: $color-primary;
    stroke: $color-white;
    // color
  }

  form {
    align-items: center;
    padding: 0 1rem;

    input {
      padding: 1rem;
      border: none;
      background-color: $color-secondary;
      font-family: inherit;
      font-size: 18px;
      font-weight: 700;
      width: 16rem;
      // color: $color-white;

      &:focus {
        box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.5);
        outline: none;
      }
    }
  }
}
